        h1 {
            font-family: 'Special Elite', cursive;
            color: white;
            text-align: center;
            font-weight: bolder;
            padding-bottom: 2%;
            padding-top: 2%;
        }
        
        h4 {
            font-family: 'Architects Daughter', cursive;
        }
        
        span {
            font-family: 'Architects Daughter', cursive;
        }
        
        .overlay {
            background: url('https://images.unsplash.com/photo-1526324502790-ad8c7c6076df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80') no-repeat;
            margin-top: 4%;
            margin-left: 4%;
            margin-right: 4%;
            margin-bottom: 5%;
            padding-top: 1%;
            padding-left: 1%;
            padding-bottom: 5%;
        }
        
        /* #name {
            color: darkcyan;
            font-weight: normal;
        } */
        
        .all-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-top: 2%;
        }
        
        #quotes-button {
            float: right;
            margin-right: 22px;
        }
        
        .card {
            margin-bottom: 2%;
            background-color: aliceblue;
        }
        
        #date {
            float: right;
            font-size: 14px;
        }
        
        #datecolor {
            color: darkcyan;
            font-weight: normal;
        }
        
        .card-title {
            color: aqua;
            font-weight: bold;
        }
        
        .card-text {
            font-family: 'Handlee', cursive;
            font-weight: normal;
            font-size: 18px;
        }
        
        * {
            overflow: hidden;
            font-family: 'Trochut', cursive;
        }
        .navbar-brand {
            color: white;
            font-size: 40px;
            font-weight: bold;
            font-family: 'Special Elite', cursive;
            text-align: center;
        }
        h1 {
            font-size: 2rem;
            text-align: center;
            font-family: 'Trochut', cursive;
            color: black
        
        }
        .home {
            display: flex;
        
        }
        .quote-box {
            position: relative;
            top: 200px;
            right: -100px;
            color: white;
        }
        .header {
            background: url('https://images.unsplash.com/photo-1471899236350-e3016bf1e69e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80');
        }
        h2{
            font-family: 'Trochut', cursive;
            color:red;
        }