<div class="header">
    <nav class="navbar navbar-light bg">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Love <span> Qoutes</span></span>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="home">
            <div class="quote-box">
                <h2>When i saw you i fell inlove, and <br>you smiled because you knew😄<br><span>~William Shakespear</span>
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="overlay">

    <h1>
        {{ title | titlecase }}
    </h1>


    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-7">
                <div class="all-cards">
                    <div *ngFor="let quote of sortQuotes let i= index" class="card" style="width: 28rem;">
                        <div class="card-body">
                            <h4 class="card-title" appHighlightQoute>{{quote.title}}<button (click)='displayInfo(i)' class="btn btn-outline-info btn-sm" id="quotes-button">Details</button></h4>
                            <p class="card-text" id="param">{{quote.quote}}</p>
                            <app-quote-details *ngIf='quote.showInfo' bind-quoty='quote' (isRead)='quoteDelete($event,i)'></app-quote-details>
                            <span class="card-subtitle mb-2">Added by: <span id="name">{{quote.name}}</span><span id="date">On: <span id="datecolor">{{quote.datePosted|date:'short'}}</span></span>
                            </span>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <app-quotes-form (add)="addedQuote($event)"></app-quotes-form>
            </div>

        </div>
    </div>


</div>